!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Perry & Ellie,
    %p
      Holy shit! #{@user.first_name} #{@user.last_name} just signed the guestbook!
    %ol
      %li{:style => "margin-bottom: 1em;"}
        = link_to "Check them out.", "#{root_url}?user_id=#{@user.id}"
      %li{:style => "margin-bottom: 1em;"}
        = link_to "Email them if you have any questions.", "mailto:#{@user.email}", :target => "_blank"
      %li{:style => "margin-bottom: 1em;"}
        - subject = @user.first_name + " is coming!"
        - body = "#{@user.first_name} #{@user.last_name} is coming! Get excited.%0A%0A#{@user_url}"
        = link_to "Email Agape to share the good news.", "mailto:agapesf@googlegroups.com?subject=#{subject}&body=#{body}"