!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Perry & Ellie,
    %p
      Holy shit! #{@user.first_name} #{@user.last_name} just signed the guestbook!
    %ol
      %li
        = link_to "Check them out.", "#{root_url}?user_id=#{@user.id}"
      %li
        = link_to "Email them if you have any questions.", "mailto:#{@user.email}", :target => "_blank"
      -#
        %li
          = link_to "Spread the good word to Agape.", "mailto:AgapeSF@googlegroups.com?subject="
          = link_to "Spread the good word to Agape.", "mailto:AgapeSF@googlegroups.com?subject="