.modal.fade#termsModal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Agape guest guidelines
      .modal-body
        %p Agape guideline will go here
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

= form_for @user, :html => {:class => "form-horizontal"}  do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :fbid, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :fbid, :class => "form-control"
  .form-group
    = f.label :name, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, :class => "form-control"
  .form-group
    = f.label :email, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :email, :class => "form-control"
  .form-group
    = f.label :host, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :host, :class => "form-control"
  .form-group
    = f.label :arrival_date, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.date_field :arrival_date, :class => "form-control"
  .form-group
    = f.label :departure_date, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.date_field :departure_date, :class => "form-control"
  .form-group
    = f.label :where_from, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :where_from, :class => "form-control"
  .form-group
    = f.label :why_in_sf, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :why_in_sf, :class => "form-control"
  .form-group
    .col-sm-10.col-sm-offset-2
      %span
        = check_box_tag "accept-tos"
        I have read and understand the
        = link_to "Agape guest guidelines", "#termsModal", :data => {:toggle => "modal"}
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit 'Save', :class => "btn btn-primary disabled", :id => "submit-button"
