= form_for @user, :html => {:class => "form-horizontal"}  do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :name, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, :class => "form-control"
  .form-group
    = f.label :email, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :email, :class => "form-control"
  .form-group
    = f.label :host, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.select(:host, options_for_select(@residents))
  .form-group
    = f.label :arrival_date, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.date_field :arrival_date, :class => "form-control"
  .form-group
    = f.label :departure_date, :class => "col-sm-2 control-label"
    .col-sm-10
      = f.date_field :departure_date, :class => "form-control"
  .form-group
    = f.label :where_from, "Where are you from?", :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :where_from, :class => "form-control"
  .form-group
    = f.label :why_in_sf, "What brings you to San Francisco?", :class => "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :why_in_sf, :class => "form-control"
  .form-group
    .col-sm-10.col-sm-offset-2
      %span
        = check_box_tag "accept-tos"
        I have read and understand the
        = link_to "Agape guest guidelines", "#", :id => "see-guest-guidelines"
  .form-group
    .col-sm-10.col-sm-offset-2
      = f.submit 'Save', :class => "btn btn-primary disabled", :id => "submit-button"
