= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :fbid
    = f.text_field :fbid
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :host
    = f.text_field :host
  .field
    = f.label :arrival_date
    = f.text_field :arrival_date
  .field
    = f.label :departure_date
    = f.text_field :departure_date
  .field
    = f.label :where_from
    = f.text_field :where_from
  .field
    = f.label :why_in_sf
    = f.text_area :why_in_sf
  .actions
    = f.submit 'Save'
