.container
  - @users.each do |user|
    .row.user
      .col-sm-2.user-badge
        = link_to image_tag("http://graph.facebook.com/#{user.fbid}/picture?type=large"), "http://www.facebook.com/#{user.fbid}", :target => "_blank"
        %span.name #{user.name}
      .col-sm-10.user-info
        .row
          .col-sm-12
            .stay
              %span #{user.arrival_date.strftime("%b %-d")}
              &ndash;
              %span #{user.departure_date.strftime("%b %-d")}
        .row
          .col-sm-12
            .hosted-by
              %span Hosted by #{user.host}
        .row
          .col-sm-12
            .where-from
              %span From #{user.where_from}
        - unless user.why_in_sf.empty?
          .row
            .col-sm-12
              .why_in_sf
                .row
                  .col-sm-1.ldquo
                    %span &ldquo;
                  .col-sm-11.text
                    %p #{user.why_in_sf}
