%h1 Listing residents

%table
  %tr
    %th Name
    %th Fbid
    %th
    %th
    %th

  - @residents.each do |resident|
    %tr
      %td= resident.name
      %td= resident.fbid
      %td= link_to 'Show', resident
      %td= link_to 'Edit', edit_resident_path(resident)
      %td= link_to 'Destroy', resident, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Resident', new_resident_path
