!!!
%html
%head
  %title The Agape Guestbook
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  %script{src: "http://code.jquery.com/jquery-1.10.1.min.js"}
  %script{src: "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"}
  = csrf_meta_tags
%body{:id => params[:controller] + '-' + params[:action] }
  .container.content-container.welcome
    .row
      .col-sm-12
        %h1
          = link_to "Ohai#{', ' + current_user.first_name if current_user}. Welcome to the Agape Guestbook.", root_url
        %p#bonnie-greeting
          We're so glad you're home!
        - unless current_user
          %p
            If you've ever been a guest at Agape, even just for a night crashing on the fluff, why don't you take a minute to #{link_to "sign our guest book", "/auth/facebook", id: "sign_in"}?
          %p
            (It'll ask you to connect to Facebook. Don't be alarmed. We only ask so that we can add your beautiful face to the site.)
        %p.silly-nav
          = link_to "Home", root_url if current_user
          = link_to "Update profile", edit_user_path(current_user.id) if current_user
          = link_to "Sign out", signout_path, id: "sign_out" if current_user
  = yield
