!!!
%html
%head
  %title Guestbook
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
%body{:id => params[:controller] + '-' + params[:action] }
  %nav.navbar.navbar-default
    %h1.navbar-brand Agape Guestbook
    %button.btn.btn-primary.pull-right.signin
      = link_to "Connect with Facebook", new_user_path
  = yield
